html , body {
	background: #fff;
	margin: 0px;
	height: 100%;
	position: relative;
}

.container {
	position: relative;
}
p , a {
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
}

span {
	font-size: 14px !important;
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
}

h4 {
	font-size: 26px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EBEBEB;
}

h5 {
	font-size: 20px;
	float: left;


}

 h2 ,  h1 ,  h3 , h4 , h5 {
	color: #8A8A8A; 
	font-family: Helvetica , Georgia , sans-serif;
	font-weight: 400;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	
}


 .container input.slider  {
	width: 43px;
	max-width: 43px;
	float: left; 
	text-align: center;
	color: #8A8A8A; 
}

input , textarea {
	color: #8a8a8a;
	font-size: 14px;
}

.container .slidercontrol {
	position: relative;
	 float: left; 
	clear: none;
	width: 77%;
	height: 6px;
	margin-left: 5%; 
	margin-top: 12px;
	background: #f7f7f7;
	border-radius: 10px;
	border: 1px solid #e4e4e4;
	box-shadow: inset 0px 2px 4px #e4e4e4;
}

.container .slidercontrol a {
	border-radius: 50px;
	background: #fff;
	top: -7px;
	width: 20px;
	height: 20px;
	position: absolute;
	box-shadow: 0px 2px 4px #BBBBBB;

}



.menu {
	width: 25%;
	float: left;
	clear: both;
	background: #303030;
	height: 100%;
	

	bottom: 0px;

}

.menu ul {
	padding: 0px;
	margin: 0px;
	float: left;
	clear: both;
	width: 100%;
}

.menu ul li {
	float: left;
	clear: both;
	padding:0px;
	width: 100%;
	list-style: none;
}



.menu ul li a {
	display: block;
	margin: 0px;
	padding: 15px 5% 15px 15%;
	width: 80%;
	font-size: 14px;
	text-align : left;
	text-decoration: none;
	color: #E4E4E4;


}


.menu ul li a.active , .menu ul li a:hover {
	background: #0073A4;
	color: #fff;
}

.content {
	float: left;
	width: 70%;
	padding: 0px 2%;
}

.content span.desc {
	background: #0073A4;
	color: #fff;
	float: left;
	clear: both;
	margin-top: 20px;
	padding: 20px;
	width: 90%;
	margin-bottom: 20px;
}

/* select */

 select {
	background: #fff;
	border: 1px solid #E4E4E4;
	z-index: 0;
	position: relative;
	width: 100%; 
	color: #787878;
	padding: 10px 10px;
	font-weight: normal;
	font-size: 13px;
	min-height: 40px;
	float: left; clear: both; 
}

 select.full option {
	float: left; clear: both;
	width: 100%; 
	color: #7f7f7f;
}



.arrow {
	background: url(images/arrow_right.png) no-repeat !important;
	position: absolute;
	right: 5px;
	top: 52px;
	z-index: 2;
	width: 31px;
	height: 31px;

}

 input.text ,  input.email ,  input[type=text] , 
 textarea ,  .email ,
 input[type=email]  {
	float: left;
	clear: both;
	width: 100% !important;
	padding: 10px 10px;
	background: #ececec;
	border: 1px solid #E6E6E6;
	border-radius: 3px;
	

}


 .input .arrow2 {
	background: url(images/arrow_right.png) no-repeat;
	position: absolute;
	left: 38%;
	top: 52px;
	z-index: 2;
	width: 31px;
	height: 31px;

}


/**
 * Value Slider
 */
 input.slider {
	width: 30px !important;
	max-width: 30px !important;
	float: left; 
}

 .slidercontrol {
	position: relative;
	 float: left; 
	clear: none;
	width: 77%;
	margin-left: 5%; 
	margin-top: 10px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #e4e4e4;
	box-shadow: inset 0px 2px 4px #e4e4e4;
}

 .slidercontrol a {
	border-radius: 50px;
	background: #fff;
	box-shadow: 0px 2px 4px #D3D3D3;
	top: -6px;
	width: 20px;
	height: 20px;
}

div.inter {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
}

h5 {
	float: left;
	clear: both;
	width: 20%;
	margin-right: 10%;
	margin-top: 0px;
	font-weight: 400;
	font-size: 16px;
	margin-top: 5px;
}
.inner-content {
	float: left;
	clear: none;
	width: 65%;
	margin: 0px;
}

/**
 * Save Button
 */

 .add {
	float: right; 
	clear: both; 
	margin: 20px 0px 0px 0px;
	padding: 15px 25px;
	z-index: 9;
	text-decoration: none;
	top: -30px;
	right: 0px;
	background: #0073A4;
	color: #fff !important;
	font-size: 13px;
	font-family: 'PT Sans', sans-serif;
	min-width: 80px;
	text-align: center;
	font-weight: 400;
}




body span.description {
	float :right;
	clear: both;
	margin-top: 20px;
	font-size: 11px;
	color: #666666;
}

 .field span {
	margin-bottom: 10px;
}