@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('fonts/MonoSocialIconsFont-1.10.eot');
    src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

video {
  width: 100%    !important;
  /* just in case, to force correct aspet ratio */
  height: auto !important;
}

a.symbol:before {
    content: attr(title);
}

.site{
	background: #EEEEEE;
}

.site-title{
	padding: 18px 0 0 0;
	font-size: 15px;
	margin-bottom: 0;
	font-family: inherit;
	font-weight: 400;
	text-transform: uppercase;	
}
.site-header{
	background: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.40);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.is-sticky{
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.site-branding{
	float: left;
	padding: 24px 50px 24px 0;
}
.site-branding a{
	display: block;
	width: 100%;
	height: 100%;
}
.site-branding a:hover{
	opacity: .7;
}

.boxed-page{
	width: 1170px;
	position:relative;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}
h1{
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}
h2{
	font-size: 42px;
	font-family: 'Roboto Condensed', sans-serif;
}
h3{
	font-size: 34px;
	font-family: 'Roboto Condensed', sans-serif;
}
h4{
	font-size: 28px;
	font-family: 'Roboto Condensed', sans-serif;
}
h5{
	font-size: 22px;
	font-family: 'Roboto Condensed', sans-serif;	
}


/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a{
	color: #444;
	transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: #6D7893;
	text-decoration: none;
}

.entry-content a{
	color: #6D7893;
	padding: 4px 2px;
	text-decoration: underline;
}

.entry-content a:hover{
	color: #444 !important;
	padding: 4px 2px;
	text-decoration: underline;
}

.mobile-menu{
	width: 40px;
	height: 60px;
	right: 18px;
	position: absolute;
	top: 18px;
}
.mobile-menu a{
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/mobile-menu-icon.png) 0 0 rgba(0, 0, 0, 0) no-repeat;
	text-indent: -999em;
}

.mobile-navigation{
	display: none;
	position: absolute;
	z-index: 1000;
	background: #EEEEEE;
	width: 120%;
	left: -10%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: lighter;
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 2px solid #DBDCDE;
}

.mobile-navigation a{
	color: #444;
	padding: 10px;
	display:block; 
}

.mobile-navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.mobile-navigation ul li{}
.mobile-navigation ul li ul{
	display: none;	
}

.mobile-navigation ul li ul li a{
	background: #374051;
	color: #fff;
	border-bottom: 1px solid rgba(238,238,238, .3);
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation{}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
}

.main-navigation ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
	font-size: 13px;
	font-weight: bold;
}

.main-navigation ul li{
	float: left;
	position: relative;
	margin-right: 40px;
	padding: 38px 0 34px;
}

.main-navigation ul li a{
	font-weight: 400;
	font-size: 14px;
   	color: #FFF; 
   	text-transform: none;
}
.main-navigation ul li:hover > a{
	color:#6D7893;;
	text-decoration: none;
}

.main-navigation ul li:hover ul{
	display: block;
}


.main-navigation ul ul {
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 98px;
	z-index: 99999;
	background: #6D7893;
	padding: 20px 0px;
	min-width: 210px;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	color: #fff;
}
.main-navigation ul ul li {
	padding: 13px 20px !important;
	margin-right: 0;
	width: 100%;
}
.main-navigation li:hover > a {
}
.main-navigation ul ul:hover > a {
	color:#444;
}
.main-navigation ul ul a:hover {
	color:#444;
}

.menu-menu-principal-container{
	float: right;
}
.synved-social-image-follow {
	width: 36px !important;
	height: 36px !important;
}


/*--------------------------------------------------------------
5.3 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	border-bottom: 2px solid rgba(219,220,222,.65);
	padding: 20px;
	background: #fff;
}

.widget h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #6D7893;
	padding:0 0 20px 0;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 0;
    text-align: left;
    font-size: 16px;   
    text-transform: none;
}

.widget ul{
	list-style: none;
	margin: 0;
	background: #fff;	
}

.widget ul li{
	display: block;
	padding: 0 0 20px 0;
	border: 0;
	clear: both;
}

.widget ul li:last-child{
	border: none;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
	width: 100%;
	border: 1px solid #EBEBEB;
	background:none;
	margin: 10px 0;
}

.widget a{
	display: block;
	color: #444444;
	font-size: 17px;
}

.widget a:visited,
.widget a:hover{
	color: #444;
}

.widget .pic{
	float: left;
	width: 25%;
	margin-right: 7%;
}

.widget .txt-holder{
	float: left;
	width: 68%
}

.widget span{
	clear: both;
	opacity: .76; /* layer alpha */
	color: #999; /* text color */
	font-family: "PT Sans", sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: .2em;
	text-transform: uppercase;
}
.widget span strong{
	color: #666;
}


.widget .tab{}

.widget_categories{}
.widget_categories ul li{
	overflow: hidden;
	padding: 13px 0px !important;
}
.widget_categories ul li:hover a{
	color: #444;
}
.widget_categories ul li:hover span{
	background: #6D7893;
	color: #fff;
	border: #6D7893;
}

.widget_categories a{
	float: left;
	color: #444;
}
.widget_categories a:hover{
	color: #6D7893;
}

.widget_categories span{
	float: right;
	width: 27px;
	height: 27px;
	display: inline-block;
	border: 1px solid #E9EAEE;
	clear: none;
	color: rgba(102,102,102,.75);
	font-family: inherit;
	font-size: 10px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
	margin-top: -1px;
	letter-spacing: 0em;
}

.about-me{}
.about-me .photo-holder{
	margin: 10px 0 0 0;
	text-align: center;
}
.about-me p{
	margin-top: 20px;
	text-align: center;
}
/* RECENT TABS WIDGETS */
.recent_tabs{
	padding: 0;	
	background: transparent !important;
}
.recent_tabs ul{
	padding: 0 20px;
	background: transparent !important;
}

ul.tabs-nav{
	overflow: hidden;
	padding: 0;
	text-align: center;
}

ul.tabs-nav li{
	float: left;
	width: 25%;
	margin: 0;
	border:none;
	clear: none;
}
ul.tabs-nav li.active{
	background: #fff;
}

ul.tabs-nav li a{
	color: #6D7893; /* text color */
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

.recent_tabs .tab{
	display: none;
	background: #fff !important;
}

.recent_tabs .show_tab{
	display: block;
	overflow: hidden;
}

.recent_tabs .tags-tab{
	clear: both;
	overflow: hidden;
	padding: 20px;
}

.tagcloud{
	padding-top: 20px;
}

.recent_tabs a{
	color: #444; /* text color */
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 16px;
}


.recent_tabs .tabs-nav a:hover{
	color: #444;
}

.recent_tabs a:hover{
	color: #6D7893;
}

.recent_tabs .tags-tab a,
.tagcloud a{
	padding: 5px 10px;
	border: 2px solid #E0E1E4;
	border-radius: 25px;
	display: inline-block;
	margin: 4px 0px;
	color: #6D7893;
	font-family: "PT Sans", sans-serif;
	font-size: 12px !important;
}

.recent_tabs .tags-tab a:hover,
.tagcloud a:hover{
	border: 2px solid #6D7893;
	background: #6D7893;
	color:#fff;
}

#calendar_wrap{
	border-spacing: 10px;
    border-collapse: separate;
}
#calendar_wrap table{
	margin: 0;
}
#calendar_wrap tfoot #next,
#calendar_wrap tfoot #prev{
	padding-top: 20px;
}
#calendar_wrap tfoot #next{
	text-align: right;
}

#calendar_wrap caption{
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #6D7893;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #EBEBEB;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#calendar_wrap thead th{
	background: #E9EAEE;
	text-align: center;
	height: 34px;
	line-height: 34px;
	outline: 2px solid #FFF;
	font-size: 16px;
	font-family: "PT Sans", sans-serif;
	color: #444;
	font-weight: 300;
}

#calendar_wrap tbody td{
	text-align: center;
	border-bottom: 1px solid #EDEDED;
	padding: 4px 0;
}

#calendar_wrap tbody td.pad{
	border: none;
}


/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/

.site-content{}
#primary, #secondary{
	padding: 30px 0 20px;
	overflow: hidden;
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.featured-holder img{
	width: 100%;
	height: auto;
}

.masonry-holder{
	min-height: 500px;
}

.masonry-item{
	float: left;
}

.masonry-item.fourth{
	width: 23%;
	margin: 5px 1%;
}
.masonry-item.half{
	width: 44%;
	margin: 0 3%;
}
.masonry-item.third{
	width: 31.33%;
	margin: 0 2% 0 0;
}

.sticky {
}
.hentry {}

.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	padding: 20px 0;
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.format-audio,
.format-gallery,
.format-quote,
.format-status,
.format-video,
.format-link,
.format-image,
.format-aside,
.format-chat,
.type-attachment,
.format-standard{
	background: #fff;
}

.post-space{
	height: 1px;
	line-height: 1px;
	margin-bottom: 20px;
}

.post-paper-bg{
	width: 100%;
	height: 20px;
	background: url(../images/post-bottom-bg.png) 0 0 transparent no-repeat;
	background-size: contain;
	margin-bottom: 10px;
}
.post-paper-bg.full{
	background: url(../images/page-bottom-bg.png) 0 0 transparent no-repeat;
	background-size: contain;
}


.entry-header{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	padding: 25px 20px 35px 20px;
}

.masonry-item .entry-header{
	padding: 15px 10px;
}
.entry-header .entry-title{
	margin-bottom: 20px;
}

.entry-summary{
	padding: 20px 20px 5px 20px;
}

.entry-content{
	padding: 0 20px 20px;
}
.masonry-item .entry-content{
	padding: 0 10px 15px;
}

.entry-content::empty{
	padding: 0 !important;
	display: none;
}

.entry-title a{
	color: #6D7893; /* text color */
	font-family: "Roboto Condensed";
	font-size: 50px;
	line-height: 60px;
}


.entry-title a:hover{
	color:#444;
}

.masonry-item .entry-title,
.masonry-item .entry-title a{
	font-size: 30px;
	line-height: 40px !important;
	margin-bottom: 10px;
}

.entry-meta{
	font-family: inherit;
	font-size: 11px;
	color: rgba(102,102,102, .75);
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 20px;
}

.entry-meta a{
	color: rgba(152,152,152, .75);
}

.entry-meta a:hover{
	color: #999;
}

.entry-content{
	color: #444; /* text color */
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 160%;
}


.entry-footer{
	margin: 0 20px;
	padding: 15px 0 15px;
	border-top: 1px solid #ebebeb;
}

.masonry-item .entry-footer{
	text-align: center;
	padding:0 0 20px 0;
	margin: 0 10px;
	border: none medium;
}

.single-post .entry-footer{
	border-top: none;
	padding:0 0 20px 0;
}


.read-more{
	float: left;
}

.masonry-item .read-more{
	display: block;
	float: none;
	margin-bottom: 20px;
	text-align: left;
}

.read-more a{
	color: rgba(102, 102, 102, .75) !important;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.read-more a:hover{
	color: #444 !important;
}

.comments-area{
	padding: 20px;
	background: #fff;
}

/* POST FORMAT */
.link-holder{
	padding: 40px 25px;
	text-align: center;
	position: relative;
	background-size: cover !important;
}
.link-holder .bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	background: #6D7893;
	opacity: .8;
	left: 0;
}

.link-holder .link-content{
	position: relative;
	z-index: 10;	
}

.link-holder a,
.link-holder span{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	font-style: italic;
	color: #fff;
}

.link-holder span{
	display: block;
	font-size: 24px;
}

.masonry-item .link-holder{
	background-position: top center !important;
	margin-bottom: 15px;
}

.masonry-item .link-holder .title,
.masonry-item .link-holder a{
	font-size: 30px;
	line-height: 32px;
}

.masonry-item .link-holder span{
	font-size: 18px;
	line-height: 24px;
}

.quote-holder{
	padding: 40px 25px;
	text-align: center;
	position: relative;
	background-size: cover !important;
}

.single-post .link-holder,
.single-post .quote-holder{
	margin-bottom: 20px;
}

.quote-holder .bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	background: #6D7893;
	opacity: .8;
	left: 0;
}

.quote-holder .quote-content{
	position: relative;
	z-index: 10;	
}

.quote-holder blockquote{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	font-style: italic;
	color: #fff;
}
.masonry-item .quote-holder{
	background-position: top center !important;
	margin-bottom: 20px;
}
.masonry-item .quote-holder blockquote{
	font-size: 30px;
	line-height: 34px;
}

.quote-holder blockquote p{
	font-family: inherit;
	margin-bottom: 0;
}

.quote-holder blockquote cite{
	font-size: 16px;
}

blockquote{
  	font-weight: light;
	padding: 10px 10px 10px 20px;
	background-color: #F0F0F0;
	margin-bottom: 1.7em;
}

.video-holder{
	position: relative;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
}

iframe{
	width:100%;
}
.video-holder iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-holder object,
.video-holder embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-bg-holder {
	position:relative;
	width:100%;
	overflow:hidden;
}
.video-bg-holder .mejs-controls{
	display:none !important;
	visibility:hidden !important;
}

.video-bg-holder .mejs-video {
	width: 100% !important;
	height: 100% !important;
}

.sound-holder .embed{
	padding: 20px 20px 0 20px;
}

.gallery-holder{
	position: relative;
}

.site-main .paging-navigation{
	margin: 0;
}

.numeric-nav{
	overflow: hidden;
	clear: both;
	background: #fff;
	border-bottom: 2px solid rgba(219,220,222,.65);
}

.fluid-container .numeric-nav{
	margin: 0 1%;
}

.numeric-nav ul{
	margin: 0;
	list-style: none;
	padding: 15px 15px 15px 15px;
	overflow: hidden;
}
.numeric-nav ul li{
	float: left;
	display: block;
	border:1px solid transparent;
	margin-right: 5px;
}
.numeric-nav ul li a{
	display: block;
	padding: 1px 8.5px;
	width: 100%;
	height: 100%;
	color:rgba(102, 102, 102, 0.75);
}
.numeric-nav ul li a:hover{
	color:#444
}

.numeric-nav ul li.active{
	border: 1px solid #E9EAEE;
	color: #444;
}

.numeric-nav ul li:hover a,
.numeric-nav ul li.active a{
	color: #6D7893;
}

.numeric-nav ul li.prev-btn:hover a,
.numeric-nav ul li.next-btn:hover a{
	background: transparent !important;
	color: #444;
}

.numeric-nav ul li.prev-btn a{
	padding-left: 0;
	background: transparent !important;
}


.numeric-nav ul li.prev-btn{
	background: transparent !important;
	border: 1px solid transparent;
}

.numeric-nav ul li.next-btn{
	float: right;
	margin-right: 0;
	background: transparent !important;
	border: 1px solid transparent;
}

.numeric-nav ul li.prev-btn:hover,
.numeric-nav ul li.next-btn:hover{
	background: transparent !important;
	border: 1px solid transparent !important;
}

.numeric-nav ul li.next-btn a{
	padding-right: 0;
}

.nav-next,
.nav-previous{
	padding: 20px 0;
}

.nav-next a,
.nav-previous a{
	height: 100%;
	padding: 20px;
	background: #fff;
	border-bottom:1px solid #DBDCE0;
	text-transform: uppercase;
	color: #6D7893;
}

.nav-next a:hover,
.nav-previous a:hover{
	background: #6D7893;
	color: #fff;
}

.site-search{
	float: right;
	padding: 30px 0;
}

.site-search .search-btn{
	background: url(../images/search-icon.png) 0 0 transparent no-repeat;
	text-indent: -999em;
	width: 36px;
	height:36px;
	display: block;
}
.site-search .search-btn:hover{
	background-position: 0 -36px;
}

.search-holder{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
}
.search-holder .search-form{

}
.search-holder .search-form label{
	margin-top: 6px;
	width: 60%;
}

.error-404{
	margin-bottom: 20px;
}
.error-404 .search-form{
	margin: 20px 0;
}

.search-holder .search-field{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	height: 50px;	
	padding: 20px 0 17px;
	border:none;
	width: 100%;
	outline: 0;
	color: #6D7893;
}

.search-form label{
	width: 100%;
}

.search-form .search-submit{
	display: none;
}

.search-form .search-field{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	outline: none;
	height: 55px;
	border: 2px solid #EAEBEF;
	width: 100%;
	padding: 10px;
	background: url(../images/search-icon-bg.png) right transparent no-repeat;
	font-weight: 300;
	box-sizing: border-box;
}

.search-form .search-field:focus{
	background: url(../images/search-icon-bg.png) right transparent no-repeat;
}


.search-holder .search-field:focus{
	background: none;
	border: none;
}

.search-holder{
	display: none;
}


.search-holder .search-field::-webkit-input-placeholder {
   color: #444;
}


input[type="submit"]{
letter-spacing: normal;
}

.related-post-holder h3, .comment-reply-title, input[type="submit"]{
  text-transform: none;
}

.search-holder .search-field{
	border: none;
	font-size: 44px;	
	height: 85px;
	background: none;
	color: #6D7893;
}

.search-holder .search-info{
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	color: #999;
	letter-spacing: .2em;
	text-transform: uppercase;
	position: absolute;
	right: 85px;
	top: 42px;
	font-weight: bold;
}
.search-holder .search-info strong{
	color: #666;
}

.search-holder .close-btn{
	background: url(../images/close-icon.png) 0 0 transparent no-repeat;
	text-indent: -999em;
	width: 32px;
	height:32px;
	display: block;
	position: absolute;
	right: 34px;
	top:34px;
}
.search-holder .close-btn:hover{
	background-position: 0 -32px;
}

.grid-gallery{}
.grid-gallery ul{}
.grid-gallery ul li{
	float: left;
	width: 100%;
}
.grid-gallery ul li img{
	width: 100%;
}

.grid-gallery ul li.half{
	width: 50%;
	border-bottom: 1px solid #fff;
	position: relative;
}

.grid-gallery ul li.half:nth-child(2n):before {
    content:"\a0";
    height: 100%;
	width: 1px;
	display: block;
	position: absolute;
	background: #FFF;
	top: 0;
}


.instagram-photos{
	position: relative;
}
.instagram-info{
	text-align: center;
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 4px;
}
.instagram-slider{
	padding-top: 10px !important;
}
.instagram-slider ul li{
	width: 100%;
	border-bottom: none;
	padding: 0;
	clear: none;
}

.flickr-photos{
	position: relative;
}
.flickr-holder{
	padding-top: 20px !important;
}
.flickr-holder ul li{
	width: 100%;
	border-bottom: none;
	padding: 0;
	clear: none;
}

.dribbble-shots{
	position: relative;
}

.dribbble-slider{
	padding-top: 20px !important;
}
.dribbble-shots ul{
	list-style: none;
}
.dribbble-shots ul li{
	width: 100%;
	border-bottom: none;
	padding: 0;
	clear: none;
}


.flickr-holder{
	position: relative;
}

.textwidget{
	padding-top: 20px;®
}

.ads img{
	width: 100%;
}


.social-widget{
	text-align: center;
}
.social-widget ul{
	display: inline-block;

}
.social-widget ul li{
	float: left;
	border: none;
	clear: none;
	margin: 5px 10px 0 0;
	padding: 0;
}
.social-widget ul li:last-child{
	margin-right: 0px;
}

.social-widget ul li a:visited,
.social-widget ul li a{
	font-size:50px; 
	color: #E0E1E4;
	width: 100%;
	height: 100%;
	line-height: 60px;
}

.social-widget ul li a:hover{
	color: #6D7893;
}

.social-media-icons{
	
}
.social-media-icons ul{
	list-style: none;
	margin: 0 auto 10px;
	overflow: hidden;
}
.social-media-icons ul li{
	width: 40px;
	float: left;
	border: none;
	clear: none;
	padding: 0px 8px 0 0;
}

.social-media-icons ul li a{
	font-size:40px; 
	color: #E0E1E4;
	width: 100%;
	height: 100%;
	line-height: 40px;
}
.social-media-icons ul li a:hover{
	color:#fff;
}

.social-media-icons ul li:last-child{
	margin-right: 0;
}


.site-footer{
	background: #444;
	padding: 20px 0;
	font-size: 14px;
	color: #fff;
}

.copy-info{
	font-size: 14px;
	text-align: center;
}
.copy-info a:visited,
.copy-info a{
	color: #fff;
	font-size: 12px;
}
.copy-info a:hover{
	color: #6D7893;
}
/* CONTACT */
#google-map{
	height:420px;
	display:block;
}

.gmnoprint img {
    max-width: none; 
}

/*  CONTACT FORM 7 */
span.wpcf7-not-valid-tip, div.wpcf7-mail-sent-ng{
	position:relative;
	display:block;
	width:100%;
	top:0;
	left:0;
	padding:14px;
	background-color: #eed3d7;
	color: #b94a48;
	border:none medium;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
	margin:10px 0 10px 0;
}

div.wpcf7-response-output{
	background-color: #DFF0D8;
	color: #468847;
	padding:14px;
	margin:0;
	border:none medium;
	margin:10px 0;
}

div.wpcf7-validation-errors{
	color:#c09853;
	background-color: #fcf8e3;
	padding:14px;
	margin:0;
	border:none medium;
	margin:10px 0;
	clear: both;
}


	/* Dropcaps */
 	span.dropcap{
 		float: left;
		padding: 11px 0px 9px;
		margin-right: 8px;
		font-size: 42px;
		font-weight: 600;	
 	}

 	/* Dropcaps */
 	span.square{
 		color:#fff;
 		font-size: 32px;
 		padding: 10px 10px !important;
 		background: #6D7893 !important;
 	}

 	span.circle{
 		color: #fff;
		font-size: 24px;
		padding: 10px 13px !important;
		background: #6D7893 !important;
		border-radius: 30px;
 	}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth { margin-right: 3%; float: left; margin-bottom:20px; position:relative; }
.one_half { width: 48.5%; }
.one_third { width: 30.999999%; }
.two_third { width: 65.6664%; }
.one_fourth { width: 22.5%; }
.three_fourth { width: 74.5%; }

.last_item{
	margin-right: 0 !important;
}
.last_item::after{
	clear: both;
}

.highlight{
	background: #6D7893 !important;
	color: #fff;
	padding: 6px 4px;
}

.spacer{
	height: 30px;
	clear: both;
}

hr{
	background-color:transparent;
	border-top: 1px solid #666666;
	border-bottom: none;
	width: 100%;
}

hr.thin{
	height: 1px;
	border-top: 1px solid #666666;
}

hr.fat{
	height: 2px;
	border-top: 2px solid #666666;
}

hr.dashed{
	height: 1px;
	border-top: 1px dashed #666666;
	background: none;
}

hr.dotted{
	height: 2px;
	border-top: 2px dotted #666666;
	background: none;
}

hr.stylish{
	height: 12px;
	border-top: none;
	background: url(../images/stylish-hr.png) 0 0 transparent repeat-x;
}

hr.shadow{
	height: 14px;
	border-top: none;
	background: url(../images/shadow-hr.png) top center transparent repeat-x;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}

.blockquote-holder::before{
	font-size: 100px;
	content: '“';
	float: left;
	padding-right: 20px;
	padding-top: 20px;
}

.blockquote-holder::after{
	font-size: 100px;
	content: '”';
	float: right;
	padding-right: 20px;
}

.blockquote-holder{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:18px;
	font-style: italic;
	color: #6D7893;
	margin: 20px 0;
}

.blockquote-holder blockquote{
	font-family: inherit;
	padding: 0 50px;
}

.first-p{
	color: #999;
}

.entry-footer .tags-links{
	display: inline-block;
	position: relative;
	margin-top: -10px;
	width: 70%;
}
.entry-footer .tags-links a{
	padding: 5px 10px; 
	border: 2px solid #E0E1E4;
	border-radius: 25px;
	font-size: 14px;
	display: inline-block;
	margin: 4px;
	color: #6D7893;
}
.entry-footer .tags-links a:hover{
	border: 2px solid #6D7893;
	background: #6D7893;
	color: #FFF;
}

.author-holder{
	margin: 10px 0 0;
	padding: 20px 0 0;
	border-top: 1px solid #E9EAEE;
}

.author-holder .photo-holder{
	float: left;
	text-align: center;
	width: 15%;
}
.author-holder .photo-holder img{
	width: 54px;
	height: auto;
}

.author-holder .info{
	float: left;
	width: 85%;
	padding: 0 20px 0 0 ;
}
.author-holder .info h3{
	font-size: 16px;
	color: #6D7893;
	font-weight: 400;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

.author-holder .info p{
	font-family: inherit;
	font-size: 12px;
	letter-spacing: .2em;
	line-height: 160%;
	color: rgba(102,102,102,0.75);
	font-weight: bold;
}


.related-post-holder{
	padding: 20px;
	background:#fff;
}
.related-post-holder.suggest{
	padding: 0;
}

.related-post-holder.suggest h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	font-weight: 100;
	line-height: 50px;
	margin-top: 20px;
} 


.related-post-holder h3{
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #6D7893;
	padding:0 0 20px 0;
	border-bottom: 1px solid #ebebeb;
	text-transform: uppercase;
}

.related-post-holder ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin: 0;
}
.related-post-holder ul li{
	float: left;
	width: 33.3333333%;
	position: relative;
	display: block;
	overflow: hidden;
}

.related-post-holder ul li img{
	width: 100%;
	height: 100%;
	display: block;
}

.related-post-holder ul li .related-content{
	width: 100%;
	height: 100%;
	line-height: 210px;
	text-align: center;
	display: none;
	position: absolute;
	background: rgba(109,118,149, .75);
	z-index: 2;
	top: 0;
	left: 0;
}

.related-post-holder ul li .related-content span{
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;  
  	padding: 0 5px;
}
.related-post-holder ul li .related-content span a{
	color: #fff;
}


.related-post-holder ul li:hover .related-content{
	display: block;	
}

.comments-area h2{
	text-align: center;
	font-size: 24px;
	font-family: inherit;
	font-weight: 300;
	color: #6D7893;
	padding:0 0 20px 0;
	border-bottom: 1px solid #ebebeb;
	text-transform: uppercase;
}

#comments ol,
#comments ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.comment-reply-title{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:30px;
	font-weight: 100;
	color: #6D7893;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #E9EAEE;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 20px 0;
}
.comment-notes{
	width: 80%;
	margin: 20px auto;
	font-family: inherit;
	font-size: 12px;
	letter-spacing: 1px;
	color: rgba(102,102,102,0.75);
	font-weight: bold;
	text-align: center;
}

.comment-body{
	font-family: inherit;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #E9EAEE;
	
}

.comment-author .avatar-holder{
	float: left; 
	margin-right: 10px;
	height: auto;
}
.comment-author .says{
	display: none;
} 
.comment-author .comment-author-info{
	float: left;

}

.comment-author-info cite,
.comment-author-info cite a{
	color: #6D7893;
	font-size: 16px;
	font-family: inherit;
	font-weight: bold;
	font-style: normal;
	padding: 3px 0 0 0;
	display: block;
	text-transform: uppercase;
}

.comment-meta{
	font-family: inherit;
	font-size: 11px;
	letter-spacing: 1px;
	color: #999;
	font-weight: bold;
	text-transform: uppercase;
}

.comment-body p{
	clear: both;
	font-size: 16px;
	line-height: 160%;
	color: #444444;
	padding: 20px 0 10px;
	margin: 0;
}

.reply a{
	padding: 3px 15px;
	border: 2px solid #E0E1E4;
	border-radius: 25px;
	display: inline-block;
	font-size: 14px;
	color: #6D7893;
}

.reply a:hover{
	border: 2px solid #6D7893;
	background: #6D7893;
	color:#fff;
}

.comment-list .children li{
	padding-left: 30px;
}

.comment-respond{
	font-family: inherit;
	font-size: 16px;
}

.form-submit{
	text-align: right;
}
div.wpcf7{
	width: 90%;
	margin:20px auto 0;
}

div.wpcf7 p{
	overflow: hidden;
}

.wpcf7-submit{
	float: right;
}
.wpcf7-submit::after{
	clear: both;
}
.wpcf7-form-control-wrap{
	width: 100%;
}

#page-holder{
	position: relative;
	overflow: hidden;
}
.content-area{
	position: relative;
	z-index: 10;
}
.page-bg{
	width: 100%;
	height: 100%;
	position: absolute;
}

.page-bg-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:#000;
}

.page-bg img{
	position: absolute;	
	  /* Preserve aspet ratio */
	  min-width: 100%;
	  min-height: 100%;
}
.not-found{
	padding: 0 20px 20px 20px;
	background: #fff;
}

.type-page{
	background: #fff;
}

.type-page .entry-header{
	padding-bottom: 0;
}

.page-header{
	margin:0;
	color: #6D7893;
}

.page-title{
	font-weight: 100;
}

.no-content{
	font-family: inherit;
	font-size: 11px;
	letter-spacing: .2em;
	margin-bottom: 35px;
	color: rgba(102,102,102,0.75);
	font-weight: bold;
}

.error-404 .page-header{
	text-align: center;
	border: none;
}
.error-404 .title-404{
	padding: 80px 0 20px;
	margin:  0 auto;
}
.error-404 .page-title{
	margin-bottom: 0;
}

.error-404 .page-content{
	font-family: inherit;
	font-size: 12px;
	letter-spacing: 1px;
	color: rgba(102,102,102,0.75);
	font-weight: bold;
	text-align: center;
}

.fb-like-box,
.fb-like-box span,
.fb-like-box iframe{
	width: 100% !important;
	box-sizing:border-box;
}

.social-widgets-holder{
	font-family: inherit;
	font-size: 11px;
	letter-spacing: .2em;
	text-transform: uppercase;
	float: right;
	margin-top: 4px;
}

.social-widgets-holder a:visited,
.social-widgets-holder a{
	color: rgba(102, 102, 102, 0.75);
}

.social-widgets-holder a:hover{
	color:#444;
}

.masonry-item.half .social-widgets-holder{
	padding: 15px 0 0 0;
}

.masonry-item .social-widgets-holder{
	margin: 0 auto;
	float: none;
	padding: 10px 0 0 0;
	border-top: 1px solid #E9EAEE;
	position: relative;
	z-index: 1000;
}

.widget{
   margin-bottom: 0;
}

.widget, .widget-title{
  border: 0 !important;
}

.comments-link{
	background: url(../images/post-comment-icon.png) 0 0  transparent no-repeat;
	margin-right: 15px;
	display: block;
	padding-left: 20px;
	float: left;
	font-weight: bold;
	text-align: left;
}
.comments-link:hover{
	background-position: 0 -16px;
}

.post-like{
    float: left;
    margin-right: 15px;
    font-weight: bold;
    text-align: left;
}

.post-share{
	background: url(../images/share-icon.png) 0 -1px  transparent no-repeat;
	display: block;
	padding-left: 20px;
	float: left;
	position: relative;
	height: 16px;
	font-weight: bold;
	text-align: left;
}

.post-share:hover{
	background-position: 0 -16px;
}
.post-share.active{
	background-position: 0 -32px;
}

.post-share ul.share-list{
	display: none;
	width: 119px;
	height: 129px;
	background: url(../images/post-share-bg-v2.png) 0 0  transparent;
	position: absolute;
	top: -134px;
	left:-50px;
	margin:0;
	list-style: none;
}
.post-share ul.share-list li{
	display: block;
	margin:10px;
}
 
.post-share ul.share-list li a{
	width: 100%;
	height: 100%;
	display: block;
	padding-left: 30px;
	color: #fff;
	line-height: 24px;
}
.post-share ul.share-list li.facebook a{
	background: url(../images/post-share-fb-icon.png) 0 0 transparent no-repeat;
	opacity: .7;
}
.post-share ul.share-list li.facebook a:hover{
	opacity: 1;
}

.post-share ul.share-list li.twitter a{
	background: url(../images/post-share-tw-icon.png) 0 0 transparent no-repeat;
	opacity: .7;
}
.post-share ul.share-list li.twitter a:hover{
	opacity: 1;
}

.post-share ul.share-list li.pinterest a{
	background: url(../images/post-share-pinterest-icon.png) 0 0 transparent no-repeat;
	opacity: .7;
}
.post-share ul.share-list li.pinterest a:hover{
	opacity: 1;
}

.post-share ul.share-list li.google a{
	background: url(../images/post-share-google-icon.png) 0 0 0 0 transparent no-repeat;
	opacity: .7;
}
.post-share ul.share-list li.google a:hover{
	opacity: 1;
}

.like{
    background:url(../images/like-icon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float:left;
    margin-right: 4px;
}
 
.post-like a:hover .like{
    background-position: 0 -16px;
}
 
.like.alreadyvoted,
.post-like.alreadyvoted{
    background-position: 0-16px;
}


.social-post-embed-holder{
	padding: 30px 0;
	text-align: center;
	background-size: cover;
	overflow: hidden;
}

.social-post-embed-holder iframe{
	display:  inline-block !important;
}


.masonry-item .fb_iframe_widget,
.masonry-item .social-post-embed-holder iframe{
	margin: 0 auto !important;
	width: 80% !important;
}

.masonry-item  .social-post-embed-holder span{
	margin: 0 auto !important;
	width: 100% !important;
	position: relative !important;
}

.masonry-item  .fb_iframe_widget iframe{
	position: relative !important;
	width: 100% !important;
}
.masonry-item  .fb_iframe_widget iframe #u_0_0{
	width: 100% !important;
}



@media only screen and (max-width : 1024px) {


	.fb_iframe_widget,
	.social-post-embed-holder iframe{
		margin: 0 auto !important;
		width: 80% !important;
	}

	.social-post-embed-holder span{
		margin: 0 auto !important;
		width: 100% !important;
		position: relative !important;
	}

	.fb_iframe_widget iframe{
		position: relative !important;
		width: 100% !important;
	}
	.fb_iframe_widget iframe #u_0_0{
		width: 100% !important;
	}

	.social-widget ul li{
		margin: 5px 3% 0 0;
	}

	.masonry-item.fourth .social-post-embed-holder iframe{
		width:285px !important;
		margin: 0 auto !important;
	}
}

@media only screen and (max-width : 800px) {
	.masonry-item{
		width: 98% !important;
	}

	.masonry-item.half{
		width: 98% !important;
		margin: 0 !important;
	}

	.social-widget ul li{
		margin: 5px 1% 0 0;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) {
	.masonry-item{
		width: 98% !important;
	}
	/* Styles */
	.social-widgets-holder{
		padding:0;
		width: 100%;
	}

	.comments-link{
		width: 50%;
	}
	.post-like,
	.post-share{
		display: block;
		width: 23%;
	}
	.nav-next a, .nav-previous a{
		padding: 10px 5px;
	}

	.related-post-holder ul li{
		width: 100%;
	}

	.row {
		margin-right: 0px;
		margin-left: 0px;
	}

	.social-widget ul li:nth-child(4n){
		margin: 5px 1% 0 0;
	}
}


/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
	/* Styles */
	.social-widgets-holder{
		padding:0;
		width: 100%;
	}

	.comments-link{
		width: 100%;
	}
	.post-like,
	.post-share{
		display: block;
		margin:0;
		width: 50%;
		margin-top: 5px;
	}
	.nav-next a, .nav-previous a{
		padding: 10px 5px;
	}

	.related-post-holder ul li{
		width: 100%;
	}
	
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}

	.masonry-item {
		width: 90% !important;
		margin: 0 auto !important;
		clear: both;
		float: none;
	}

	.fluid-container .numeric-nav {
		margin: 0 5%;
	}
	.numeric-nav ul li.prev-btn,
	.numeric-nav ul li.next-btn{
		width: 100%;
		display: block;
		text-align: center;
		margin: 10px 0;
	}

	.social-media-icons ul{
		width: 200px !important;
	}

	.site-branding {
		float: none;
		padding: 14px 0px 18px 0;
		text-align: center;
		width: 100% !important;
	}

	.site-branding img{
		max-width: 120px;
	}

	.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
		transform: scale(.75);
		-webkit-transform: scale(0.75);
	}

	.mobile-menu{
		right: 5px;
		top: 5px;
	}
}

@media only screen and (max-width : 320px){
	.col-xs-12{
			padding: 0;
		}

	
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.featured-posts{
	margin: 30px 0 0 0;
	display: none;
}

.featured-posts .entry-date{
	color: rgba(152, 152, 152, 0.75);
}

.featured-item{
	position: relative;
	border-bottom: 2px solid rgba(219, 220, 222, 0.65);
	background: #fff;
	overflow: hidden;
}
.featured-item img{
	width: 100%;
}

.post-data{
	position: absolute;
	background: rgba(0,0,0,.75);
	bottom: 0;
	width: 100%;
	padding-bottom: 20px;
}

.featured-half{
	margin: 0 .22% .33% 0;
	width: 49.78%;
	float: left;
}

.featured-half:nth-child(2){
	width: 49.78%;
	margin-right: 0;
	margin-left: .22%;
}

.featured-third{
	margin: 0 .33% .5% 0;
	width: 33.1%;
	float: left;
}

.featured-entry-title{
	text-align: center;
	margin: 20px 20px 20px 20px;
	font-size: 30px;
}

.featured-entry-title a{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

.featured-entry-title a{
	color:#fff;
}


.featured-meta{
	text-align: center;
	padding: 0 20px;
}

.featured-last{
	margin-right: 0;
}

.featured-slider-holder{
	background: #fff;
	padding:10px !important;
}

@media only screen and (min-width: 769px)  and (max-width: 1024px) {
	.featured-entry-title{
		font-size: 20px;
	}
}
@media only screen and (max-width: 768px) {
	.featured-third:first-child,
	.featured-half:first-child{
		margin-top: 0;
	}

  .featured-third,
  .featured-half,
  .featured-half:nth-child(2){
  	width: 100%;
  	height: 320px;
  	margin-top: 20px;
  	overflow: hidden;
  }
}