.site-branding{
	padding: 28px 50px 24px 0px;
}

.main-navigation ul li{
	padding: 28px 0px;
}

.site-search{
	padding: 30px 0px 30px 0px;
}

.featured-entry-title a:hover,
.widget a:hover,
.widget h2,
.entry-content a,
a:hover,
a:focus,
a:active {
	color: #000000;
}
.main-navigation ul li:hover > a, .main-navigation .current_page_item a, .main-navigation .current-menu-item a{
	border-color: #FFF;
	color: #F3F3F3;
}
.main-navigation ul li a{
	color: #FFF;
	border: 1px solid transparent;
	padding: 10px 15px;
}

.main-navigation ul ul {
	background: #000000;
}

.widget_categories ul li:hover span{
		background: rgba(0,0,0,1);;
	border: #000000;
	opacity:1;
}

.widget_categories ul li:hover a{
	color: #FFF;
	border: 2px solid #000000;
}
.widget_categories ul li a{
	padding: 15px 10px;
}

ul.tabs-nav li a{
	color: #000000;
}

.recent_tabs a:hover{
	color: #000000;
}

.recent_tabs .tags-tab a:hover,
.tagcloud a:hover{
	border: 2px solid #000000;
	background: #000000;
	color:#fff;
}

.entry-title a{
	color: #000000;
}

.link-holder .bg,
.quote-holder .bg{
	background: #000000;
}

.link-holder a,
.link-holder span{
	color: #fff;
}

.numeric-nav ul li.active{
	
}

.numeric-nav ul li a:hover{
	color: #000000;
}

.numeric-nav ul li.prev-btn:hover,
.numeric-nav ul li.next-btn:hover{
	background: transparent !important;
	border: 1px solid transparent !important;
	color: #000000;
}

.numeric-nav ul li.prev-btn:hover a,
.numeric-nav ul li.next-btn:hover a{
	color: #000000;
}

.numeric-nav ul li:hover a, 
.numeric-nav ul li.active a {
	color: #000000;
}

.nav-next a,
.nav-previous a{
	color: #000000;
}

.nav-next a:hover,
.nav-previous a:hover{
	background: #000000;
	color: #fff;
}

.search-holder .search-field{
	color: #000000;
}


.search-holder .search-field{
	color: #000000;
}

.copy-info a:hover{
	color: #000000;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current,
.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
	background:#000000;
}

.mobile-navigation a{
	color: #444;
}

.mobile-navigation a.active{
	color: #000000;
}

span.circle,
span.square{
	background: #000000 !important;
}

.mobile-navigation ul li ul li a{
	background: #000000 !important;
}


.highlight{
	background: #000000 !important;
}

.blockquote-holder{
	color:#000000 !important;
}


blockquote{
	border-left: 2px solid #000000;
}

.entry-footer .tags-links a{
	color: #000000;
   	border-radius: 0;
}
.entry-footer .tags-links a:hover{
	border: 2px solid #000000;
	background: #000000;
}

.author-holder .info h3{
	color: #000000;
}

.related-post-holder h3{
	color: #000000;
}

.related-post-holder ul li .related-content{
		background: rgba(0,0,0,0.75);
}

.comment-author-info cite,
.comment-author-info cite a,
.comment-notes,
.comment-reply-title,
.comments-area h2{
	color: #000000;
}

.reply a{
	color: #000000;
}

.reply a:hover{
	border: 2px solid  #000000;
	background:  #000000;
}

.page-header{
	color: #000000;
}

.social-widget ul li a:hover{
	color: #000000;
}

.social-media-icons ul li a:hover{
	color: #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #000000;
}

input[type="submit"]{
	background: #000000;
	color: #fff;
}

input[type="submit"]:hover{
	color: #fff;
	background: #444;
	border-color: #444;
}

.read-more a:hover, .social-widgets-holder a:hover{
       color: #000000!important;
}

input[type="submit"]:hover{
   border: #000000!important;
}

ul.tabs-nav li.active a,
ul.tabs-nav li.active a:hover{
	color: #000000;
}

.recent_tabs .tags-tab a, .tagcloud a{
	color: #444444;
}



.recent_tabs .tabs-nav a:hover{
	color: #000000;
}

.widget_categories a:hover{
	color: #000000;
}


.social-post-embed-holder{
	background-color:#000000;
}

.recent_tabs a,
.widget_categories a,
ul.tabs-nav li a{
	color : #444;
}

.main-navigation ul ul li:hover a,
.main-navigation ul ul a:hover{
	color: rgba(255, 255, 255, 0.70);
}

.entry-meta a {
	color: rgba(152, 152, 152, 0.75);
}

.site-header{
	background: #000000;
}

.site{
	background: #ffffff;
}

.site-footer{
	background: #565658;
}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next{
	background-color: #000000;
}

#calendar_wrap caption{
	color: #000000;
}

input[placeholder], [placeholder], *[placeholder]{
	color: #000000 !important;
}

.awesome-social:hover {
	color: #000000!important;
}


