
	
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
font-family: 'Open Sans', sans-serif !important;
}
div.wpcf7 {
width: 100%;
margin-top: 0px;
}
#search-2{
   padding-top: 0;
   border: 0;
   margin-bottom: 0;
}
#awesomesocial-2 div{
   text-align: left;
}
#awesomesocial-2 div a{
   display: inline-block;
   margin:  0 10px 0 0;
}

input[type="submit"]{
border: 1px solid #000;
background: transparent !important;
color: #000 !important;
}

input[type="submit"]:hover{
color: white !important;
   background: #000 !important;
}

.search-form .search-field {
background: none;
}

.entry-header {
padding-bottom: 1px;
}
@media (max-width: 600px) 
{
  .entry-title a {
font-size: 30px;
line-height: 40px;
}
}